body::before{
    display: block;
    content:'';
    height:60px;
}
@media(min-width:768px){
    .news-input{
        width:50%;
    }
}
p{
    font-size: x-large;
    font-weight: bold;
}
input{
    border-radius: 0.5em;
    height: 2.5em;
    width:auto;
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800;900&display=swap');
:root{
    --bg-color:rgba(66, 141, 227,0.3);
    --primary-color:rgba(66, 141, 227,0.8);
    --secondary-color:rgba(66, 141, 227,0.5);
    
}


body{
    background-color: var(--bg-color);
    color:white;
    font-family: 'Roboto Slab',serif;
    font-size:large;
    text-transform: uppercase;
}

ul{
    list-style: none;

}
header{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    position: sticky;
    top:0;
    background-color: white;
    border-radius: 0.5em;
}
.hamburger{
    display: none;
}
nav{
    width:100%;
    background-color: white;
    border-radius: 0.5em;
    height: 3em;
    margin-top: 0;
    text-align:center;
    text-shadow: 2px 2px rgba(0,0,0,0.3);

}

li{
    padding: auto;
    display:inline-block;
    width:fit-content;
    text-align: left;
    margin-right: 2em;
    margin-left:2em;

}
.nav-bar ul li a:hover{
    background-color: var(--secondary-color);
}
li a{
    
    text-align: left;
    text-decoration: none;
    font-weight: 800;
    float: left;
    background-color: var(--bg-color);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top:0.5em;
    color:white;
   
  
}
.active-nav a{
    font-weight: 900;
    background-color: var(--primary-color);
}
label{
    text-align: center;
    font-size: larger;
    font-weight:900;
    text-transform: uppercase;
    margin-top:30%;
    text-decoration: underline;
    font-size: 1.3em;
}
.home{
    margin-top: 20%;
}
input{
    border-radius: 0.8em;
    color:white;
    font-weight: 400;
    height:3em;
    width: 50%;
    border: 1px solid grey;
    margin-top: 2em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
input:focus{
    border:3px solid grey;
    text-align: center;
    color:#000;
    
}
input:hover{
    box-shadow: inset;
}

#submit,#submitage{

    color:white;
    background-color: var(--secondary-color);
    color:white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    width:10em;
    height:3em;
    transition: all ease 0.3s;
    margin-top: 0%;
}
#submit:hover,#submitage:hover{
    height:3.3em;
    width:10.5em ;
    font-size: larger;
    font-weight: 900;
    background-color: var(--primary-color);
}
p{
    text-align: center;
    font-weight: 800;
    
}
.statistics{
    margin-top: 20%;
    font-size: 3em;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}
table{
    
    width:100%;
    margin-top:5%;
    border-radius: 0.5em;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    
}

th,td{
    width:25%;
    text-align: center;
    vertical-align: top;
   
    border-collapse: collapse;    
    padding: 0.3em;
    background-color: var(--secondary-color);
    
}
th{
    padding:1em;
    background-color: var(--primary-color);
    font-size: larger;
    font-weight: 800;
    text-decoration: underline;
    border-collapse: collapse;

}
.user{
    text-align: left;
    text-decoration: none;
    font-weight: 800;
    float: left;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top:0.5em;
    color:var(--primary-color);
    text-shadow: none;
}

@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width:1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width:976px){
    .hamburger{
        display:block;
        cursor:pointer;
    }
    .hamburger .line{
        display: block;
        width:30px;
        height:3px;
        background:white;
        margin:6px 0;
    }
    .nav-bar{
       
        background-color:white;
        height: 0;
        position:absolute;
        top:80px;
        left:0;
        right:0;
        width:100vw;
        overflow: hidden;
    }
    .active{  
        top:20px;
        height: 300vw;
        
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity:0;
    }
    li{display: block;}
    .nav-bar ul li a{
        display: block;
        margin-left:0;
        margin-bottom: 12px;
    }
    .active ul{
        display: block;
        opacity: 1;
    }
} */