<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="static/styles.css">
    <title>Age</title>
</head>
<body>
  <!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top ">
    <div class="container">
      <a href="#" class="navbar-brand">Age</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="names.html" class="nav-link">Names</a>
          </li>
          <li class="nav-item">
            <a href="statistics.html" class="nav-link">Statistics</a>
          </li>
          <li class="nav-item">
            <a href="db.html" class="nav-link">Database</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Age</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
<!-- age Form -->
<section class="bg-secondary text-light p-5">
  <form action="" method="post">
  <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3  mb-md-0">Insert Your Name</h3>
          <div class="input-group news-input mb-3">
              {{ageform.agefield}}
              {{ageform.submitage()}}
              <div class="text-center">
              <p>{{exists}}</p>
          </div>
      </div>
  </div></form>
</section>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="../static/nav.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>